body
{
    font-family: "Audiowide", sans-serif;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.tempDiv h1
{
    text-align: center;
    margin-top: 40vh;
}